{% extends "base.html" %}
{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>{{ form.email.label }} {{ form.email }}</div>
        <div>{{ form.password.label }} {{ form.password }}</div>
        <div>{{ form.submit }}</div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}